@import url('style.css');

#lblToday,#lblYesterday,#lblWeek,#lblMonth,#lblYear{
    display: inline-block;
}
.innerLi #lblToday, .innerLi #lblYesterday, .innerLi #lblWeek, .innerLi #lblMonth, .innerLi #lblYear{
    float: left;
    font-size: 18px;
    color: black;
    line-height: 44px;
}
.table{
    margin-bottom: 10px;
}
.table thead th{
    font-weight: bold;
}
.store{
    overflow-x: auto;
}

thead {
    border-bottom: 1px solid rgb(200, 199, 204);
    border-top: 1px solid rgb(200, 199, 204);
    background-color: rgba(254, 254, 254, 0.9);
}

.outer-container{
    background-color: #ccc;
}

.inner-container{
    height: 100%;
    overflow: hidden;
}

.table-header{
    position: relative;
}
.table-body{
    overflow: auto;
}

.header-cell{
    text-align: left;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    font-weight: bold;
}
.body-cell{
    background-color: rgba(255,255,255,.8);
    text-align: left;
}
.col1{
    width:170px;
    min-width: 170px;
    max-width: 171px;
}
.col2{
    width:60px;
    min-width: 60px;
    max-width: 61px;
}
.col3{
    width:60px;
    min-width: 60px;
    max-width: 61px;
}
.col4{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.col5{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.col6{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.col7{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.col8{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.col9{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.col10{
    width:60px;
    min-width: 60px;
    max-width: 61px;
}
.col11{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.col12{
    width:60px;
    min-width: 60px;
    max-width: 61px;
}
.col13{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.col14{
    width:80px;
    min-width: 80px;
    max-width: 81px;
}
.headertable, .bodytable {
    font-size: 65%;
}

/*iPhone 6 in portrait & landscape*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .store{
        padding: 4pt 1%;
        font-size: 64%;
    }
    .headertable th,
    .table th,
    .table td{
        font-size: 125%;
    }
}

@media only screen and (min-width : 375px) and (max-width : 767px) { 
    .store{
        padding: 4pt 1%;
        font-size: 64%;
    }
    .headertable th,
    .table th,
    .table td{
        font-size: 120%;
    }
}

@media only screen and (min-width : 320px) and (max-width : 374px) { 
    .store{
        padding: 4pt 1%;
        font-size: 64%;
    }
    .headertable th,
    .table th,
    .table td{
        font-size: 100%;
    }
}

@media only screen and (orientation: portrait) { 
  #miModal11{
    visibility: visible;
  }
}
@media only screen and (orientation: landscape) { 
  #miModal11{
    visibility: hidden;
  }
}
