@import url('style.css');
/*report1*/

.store h1.storeNameR1{
    width: 77%;
    display: inline-block;
    padding-right: 10pt;
}

.region_store .storeNameR1{
    width: 67% !important;
}
.lastConexion {
    display: inline-block;
    width: 23%;
    font-size: 10pt;
    text-align: center;
    line-height: 14pt;
    height: 32px;
    position: relative;
    vertical-align: top;
    color: #CE291E;
}
.lblLastConexion{
    padding-right: 3pt;
    width: 37%;
}
.dataLastConexion{
    width: 56%;
}
.lblLastConexion,.dataLastConexion{
    line-height: 24pt;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}
.actual p,.global p,
.actual i,.global i,
.actual span,.global span{
    display: inline-block;
}
.actual i,.global i{
    width: 12%;
    font-size: 15px;
    font-style: normal;
    color: #0000CD;
}
.actual p,.global p{
    width: 26.5%;
    font-size: 16px;
    text-align: left;
}
.actual span,.global span{
    width: 23%;
    padding-right: 0;
    padding-top: 4pt;
    padding-bottom: 4pt;
    text-align: right;
    font-size: 16px;
    text-align: center;
    color: white !important;
}
.actual span.red, .global span.red{
    background-color: #CE291E;
} 
.actual span.green, .global span.green {
    background-color: #55982E;
}
.actual span.ambar, .global span.ambar {
    background-color: #FF8C00;
}

div[class^="region_store"]
{
    height: 0;
    width: 95%;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    margin: auto;
    -webkit-transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
    transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
}

/*Region*/
.regionList {
    opacity: 1 !important;
    height: auto !important;
    
}


div[class^="graphic"]
{
    height: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    -webkit-transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
    transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
}

/*Report1 by Store*/
.showGraphic {
    opacity: 1 !important;
    height: auto !important;
}
div[class^="chartdiv"]{
    width: 65%;
    height: 130px;
    display: inline-block;
    float: left;
    
}
div[class^="detalle-"]{
    width: 35%;
    height: 100%;
    display: inline-block;
    float: right;
}
.year , div[class^="detalle-"] i {
    float: left; 
    width: 40%;
}
.quantity, div[class^="detalle-"] span{
    float: right; 
    width: 60%; 
    text-align: right;
}
.quantity{ text-align: right;}
div[class^="detalle-"] i,
div[class^="detalle-"] span{
    margin: 0;
    padding: 0;
}

#actual, #global{ 
    width: 100%;
}
.red{ color: rgb(255, 28, 23) !important;}
.green{ color: rgb(104, 163, 87) !important;}
.ambar{ color: rgb(201, 148, 18) !important;}


#lblToday,#lblYesterday,#lblWeek,#lblMonth,#lblYear,#lblLastYear{
    display: inline-block;
}
.innerLi #lblToday, .innerLi #lblYesterday, .innerLi #lblWeek, .innerLi #lblMonth, .innerLi #lblYear, .innerLi #lblLastYear{
    float: left;
    font-size: 18px;
    color: black;
    line-height: 44px;
}

/* iPad in portrait & landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .lastConexion {
        width: 24%;
        font-size: 13pt;
        line-height: 15pt;
        height: 40px;
    }
    .lblLastConexion,.dataLastConexion{
        line-height: 32pt;
        width: 65%;
    }
    .actual i, .global i,
    .actual p, .global p,
    .actual span, .global span {
        font-size: 18pt;
    }
    .actual p, .global p{
        width: 31.5%;
    }
    .actual i, .global i {
        width: 9%;
    }
    .actual span, .global span {
        width: 19%;
        border-radius: 8pt;
    }
    .actual span, .global span{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .store h1.storeNameR1 {
        width: 80%;
    }    
    div[class^="chartdiv"]{
    height: 180px;
    }
    .dropdown-toggle .lblFilter {
        padding: 0 48px;
        font-size: 18pt;
        padding: 0 0 0 38px;
    }
    div[class^="detalle-"] i, div[class^="detalle-"] span{
        height: 24px;
    }
    .year, .quantity,
    div[class^="detalle-"]{
        font-size: 16px;
        height: 24px;
    }
}
/*iPhone 6 in portrait & landscape*/
@media only screen and (min-width : 375px) and (max-width : 767px) { 
    .lastConexion {
        width: 37%;
        font-size: 11pt;
        line-height: 14pt;
        height: 32px;
    }
    .dataLastConexion {
        width: 73%;
    }
    .lblLastConexion {
        padding-right: 2pt;
        width: 27%;
    }
    .store h1.storeNameR1 {
        width: 72%;
    }   
    .actual span, .global span{
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 4pt;
        width: 19%;
    }
    .store{
        padding: 4pt 6%;
    }
    .actual i, .global i {
        width: 12%;
    }
    .actual p, .global p {
        width: 28.5%;
        font-size: 11pt;
    }
    div[class^="detalle-"] i, div[class^="detalle-"] span{
        height: 22px;
    }
    .year, .quantity,
    div[class^="detalle-"]{
        font-size: 13px;
        height: 22px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 374px) { 
    .lastConexion {
        width: 24%;
        font-size: 9pt;
        line-height: 11pt;
        height: 26px;
    }
    .dataLastConexion {
        width: 87%;
    }   
    .lblLastConexion {
        padding-right: 2pt;
        width: 47%;
    }
    .actual i, .global i {
        width: 13%;
        font-size: 11pt;
    }
    .actual p, .global p {
        width: 26.5%;
        font-size: 10pt;
    }
    .actual span, .global span {
        width: 21%;
        padding:0 4pt;
        padding-top: 6pt;
        padding-bottom: 6pt;
        font-size: 11pt;
        text-align: center;
        border-radius: 4pt !important;
    }
    div[class^="detalle-"] i, div[class^="detalle-"] span{
        height: 20px;
    }
    .year, .quantity,
    div[class^="detalle-"]{
        font-size: 12px;
        height: 20px;
    }
}