@import url('style.css');

.clasification p,
.clasification i,
.clasification span{
    display: inline-block;
}
.clasification i{
    width: 29%;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: #0000CD;
}
.clasification p{
    width: 44%;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}
.clasification span{
    width: 27%;
    padding: 0;
    text-align: right;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#txt_title2{
    text-align: center;
    line-height: 44px;
    
}

#lbldateStart ,#lbldateEnd,#lbldateToCompare{
    display: inline-block;
}

.iconRange{
    background-image: url(../img/iconRange.svg);
    background-position: center;
    background-size: 36px;
    background-repeat: no-repeat;
}


/* modal */
.clasificationRow{
    display: block;
    width: 100%;   
    
}

.clasificationRow .clasName{
    display: table-cell;
    width: 27%;
    font-size: 14px;
    font-weight: bold;
}
.clasificationRow .rangeMax,
.clasificationRow .rangeMin {
    display: table-cell;
    width: 25%;
    font-size: 15px;
}
.clasificationRow .rangeMax input,
.clasificationRow .rangeMin input{
    width: 32px;
    display: inline;
}

/*Report 2*/
.veryCritical{
    color: #B71C1C;
}
.veryCritical span{
    color: white;
    background-color: #B71C1C;
}
.critical{
    color: #E53935;
}
.critical span{
    color: white;
    background-color: #E53935;
}
.deficient{
    color: #FF8A65;
}
.deficient span{
    color: white;
    background-color: #FF8A65;
}
.acceptable{
    color: #42A5F5;
}
.acceptable span{
    color: white;
    background-color: #42A5F5;
}
.good{
    color: #FFB74D;
}
.good span{
    color: white;
    background-color: #FFB74D;
}
.veryGood{
    color: #66BB6A;
}
.veryGood span{
    color: white;
    background-color: #66BB6A;
}

#modalgeneral{
    z-index: 10000;
}
.clasification span{
    border-radius: 8pt;
    text-align: center;
}

/* iPad in portrait & landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .clasification p,
    .clasification i,
    .clasification span{
        font-size: 18pt;
    }
    .clasification p{
        width: 59%;
    }
    .clasification i{
        width: 20%;
    }
    .clasification span{
        width: 21%;
        border-radius: 8pt;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .clasificationRow .clasName{
        width: 54%;
        font-size: 14pt;
        padding-bottom: 14pt;
    }
    .clasificationRow .rangeMax input, .clasificationRow .rangeMin input{
        width: 44px;
    }
    .clasificationRow .rangeMax, .clasificationRow .rangeMin{
        font-size: 14pt;
    }
}
@media only screen and (min-width : 375px) and (max-width : 767px) { 
    .clasification span{
        width: 27%;
        border-radius: 4pt;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .clasification i{
        width: 22%;
    }
    .clasification p{
        width: 51%;
    }
}
@media only screen and (min-width : 320px) and (max-width : 374px) { 
    .clasification span{
        border-radius: 4pt;
    }
}