@import url('style.css');
.progressByStore i, .progressByStore p, .progressByStore span{
	display: inline-block;
}
.progressByStore i{
	width: 9%;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: #0000CD;
}
.progressByStore i.T{
    width: 7%;
}
.progressByStore p{
    font-size: 16px;
    text-align: left;
}
p.clasification:first-of-type{
    font-weight: bold;
    width: 41%;
}
.progressByStore span{
	width: 17%;
    font-size: 16px;
}

#lbldateStart ,#lbldateEnd,#lbldateToCompare{
    display: inline-block;
}

.wrapper.general .section_content{
    background-color: transparent;
    border-bottom: none;
}
#select-region{
    background-color: rgba(254, 254, 254, 0.9);
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 49px;
    text-align: center;
    background-color: #1D231E;
    border-top: 1px solid #bbb;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 100;
}
nav button {
    display: inline;
    height: 100%;
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: rgb(111, 111, 116);
}

nav .navBtn1{ width: 38%; white-space: nowrap; text-align: left;}
nav .navBtn2{ width: 30%;}
nav .navBtn3{ width: 28%; text-align: right;}

#lblTotalAll{
	text-align: left;
    color: white;
}
#totalpromedio{
    color: #fff;
    font-weight: bold;
}
.colorAcumulateSale{
	height: 15px;
	background-color: #4C9850;
}
#PercentGoal,#totalGoalPercentage{
	color: #fff;
    background-color: #0073FF;
    text-align: center;
}
.colorAcumulateGoal{
	height: 15px;
	background-color: #42A5F5;
}
#PercentSale,#totalSalePercentage{
	color: #fff;
    background-color: #4C9850;
    text-align: center;
}
.infoReport3 {
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
}
.infoReport3 span{
	width: 88%;
    padding-left: 4pt;
	text-align: justify;
	display: inline-block;
    font-size: 10pt;
}
.infoReport3 i{
	width: 12%;
	font-style: normal;
	font-size: 16px;
	border-radius: 4px;
	display: inline-block;
	color: #0000CD;
}

.heightSection{
    overflow: auto;
}

/* iPad in portrait & landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .clasification,#totalGoalPercentage,
    span.percentage,#totalSalePercentage{
        border-radius: 8pt;
        padding: 5px 5pt;
    }
    .progressByStore i,
    #PercentGoal, #totalGoalPercentage,
    #PercentSale, #totalSalePercentage,
    .progressByStore p{
        font-size: 18pt;
    }
    p.clasification:first-of-type{
        width: 45%;
    }
    .infoReport3{
        margin-bottom: 11pt;
    }
    .infoReport3 span{
        font-size: 16pt;
    }
    #lblTotalAll,#totalpromedio,
    #totalGoalPercentage,
    #totalSalePercentage
    {
        font-size: 19pt;
    }
    nav{
        height: 55px;
    }    
}
/*iPhone 6 in portrait & landscape*/
@media only screen and (min-width : 375px) and (max-width : 767px) { 
    .clasification,#totalGoalPercentage,
    span.percentage,#totalSalePercentage{
        border-radius: 4pt;
        padding: 5px 5pt;
    }
    .clasification,
    .percentage{
        width: 27%;
        border-radius: 4pt;
    }
    p.clasification:first-of-type{
        width: 31%;
    }
    .progressByStore p{
        width: 22%;
    }
    .progressByStore span{
        width: 22%;
    }    
}
@media only screen and (min-width : 320px) and (max-device-width : 374px) { 
    .progressByStore i.T {
        width: 7%;
    }
    .progressByStore i {
        width: 10%;
        font-size: 11pt;
    }
    .progressByStore span{
        width: 26%;
    }
    p.clasification:first-of-type {
        width: 21%;
    }
    .progressByStore p {
        width: 26%;
        font-size: 11pt;
    }
    #PercentGoal, #totalGoalPercentage,
    #PercentSale, #totalSalePercentage {
        border-radius: 4pt;
        padding: 6pt 4pt;
    }
    #lblTotalAll,
    #totalpromedio,
    #totalGoalPercentage ,
    #totalSalePercentage{
        font-size: 13pt;
    }
}