@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue-Normal.ttf');/* relative path from the css file */
}
html,body{
    height:100% !important;
    overflow-x: hidden;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, p, pre, a, address, code, em, img, ins, kbd, q, samp, small, strike, strong, tt, var, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, header, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none !important;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: baseline;
    -webkit-touch-callout: none;
} 
body{
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
    font-weight: 300;
    line-height: 1;
    color: rgb(0, 0, 0);
    background-color: #e6e7eb;
}
input[type="text"],input[type="password"],input[type="number"], textarea {
    display: block;
    position: relative;
    z-index: 20;
    width: 88%;  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 300;
    border-radius: 0;
    box-shadow: none;
    padding: 6px 0;
    margin: auto auto;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    background-image: linear-gradient(0deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input:active,input:focus{
    outline: 0 none; 
    box-shadow: none !important;   
    transition: all 0.2s;
}
label{
    display: block;
    margin: 0 auto;
    z-index: 10;
    width: 88%;  
}
/*preparando el entorno para la app hybrid*/
.hybrid_container, #floatWindow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto auto;
}
.hybrid_container{
    background-image: none;
    /*background-color: #C3C5CA;*/
    background-repeat: no-repeat;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.hybrid_bg{
    background-color: none !important;
    background-image: url('../img/background_1024.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    
}
.hybrid_bg .content,
.hybrid_bg #content{
    opacity: 0;
    -webkit-animation: appear 0.5s forwards; 
    animation: appear 0.5s forwards;
}
@-webkit-keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}
#floatWindow{
    background-image: none;
    background-color: #e6e7eb;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.44);
    -webkit-transform-origin: center center; 
    transform-origin: center center; 
    -webkit-transform: translate3D(100%,0,0) rotateY(90deg); 
    transform: translate3D(100%,0,0) rotateY(90deg);
}

header{
    position: absolute;
    z-index: 1029;
    width: 100%;
    height: 64px;
    background-color: rgb(248, 248, 248);
}
.top_bar_space{
    height: 20px;
}
.options_bar_space{
    position: relative;
    height: 100%; 
    margin-top: -20px;   
    border-bottom: 1px solid rgb(200, 199, 204);
}
header button,
.item button{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 17px;
    color: #0000CD;
    padding-left: 4px;
    font-weight: 300;
    text-overflow: ellipsis !important;
    max-width: 88px;
    min-width: 44px;
    height: 44px;
}
header button:active{
    opacity: 0.3;
}
.item{
    position: relative;
    z-index: 20;
    padding: 0 5%;
    height: 44px;
    width: 100%;
    line-height: 32pt;
}
.item.selected{    
    color: #fff;
    background-color: #0000CD;
    -webkit-transition: all 0.12s;
    transition: all 0.12s;
}
.item.selected>div{
    color: #f1f1f1;
}
.item button{
    background-color: transparent;
    float: right;
    padding-right: 4pt;
}
.buttonItem{
    display: inline-block;
}
hr {
    position: relative;
    z-index: 10;
    margin: 0;
    border: 0;
    border-top: 1px solid rgb(200, 199, 204);
    -webkit-transform: translate3d(0,1px,0);
    transform: translate3d(0,1px,0);
}
.store{
    padding: 4pt 6%;
    line-height: 0.8em;
}
.store:nth-of-type(2n){
    background-color: rgba(234,234,235,0.85);
}
.store h1{
    width: 100%;
    height: 32px;
    font-size: 20px;
    font-weight: bold;    
    line-height: 1.6em;
    white-space: pre-line;
    color: #111;
}
#btn_left{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    height: 44px;
    padding-left: 9px;
    opacity: 0;
    -webkit-animation: fadeLeftToRight .4s forwards;
        animation: fadeLeftToRight .4s forwards;
    -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
}
#btn_left.arrow {
    padding-left: 24px;
    background-image: url(../img/backBtn.svg);
    background-position: -25px 0px;
    background-size: 65px 44px;
    background-repeat: no-repeat;
}
#txt_login,#txt_maintitle,#txt_title, #top_txt_title,#txt_Options,#txt_title2{
    text-align: center;
    width: 180px;
    margin: 0 auto;
    padding-top: 18px;
    line-height: 44px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    opacity: 0;
    -webkit-animation: fadeIn .4s forwards;
        animation: fadeIn .4s forwards;
    -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
}
#btn_right{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 34px;
    padding-right: 0px;
    opacity: 0;
    -webkit-animation: fadeRightToLeft .4s forwards;
        animation: fadeRightToLeft .4s forwards;
    -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
}
#btn_right.calendar,
.calendar{
    background-image: url(../img/iconCalendar.svg);
    background-position: 6px;
    background-size: 32px;
    background-repeat: no-repeat;
}
#btn_right.config{
    background-image: url(../img/iconItems.svg);
    background-position: center;
    background-size: 38px;
    background-repeat: no-repeat;
}
#btn_right.configuration{
    background-image: url(../img/iconConfig.svg);
    background-position: 4px;
    background-size: 31px;
    background-repeat: no-repeat;
}
#btn_right.storeIcon,
.storeIcon{
    background-image: url(../img/iconStore.svg);
    background-position: center;
    background-size: 34px;
    background-repeat: no-repeat;
}
#btn_right.side {
    right: 44px;
}
#btn_left button, #btn_right button{
    height: 44px;
    line-height: 44px;
    background: transparent;
    
}
.indexSection{
    width: 100%;
    padding-top: 2pt;
    padding-bottom: 8pt;
    background: rgba(255,255,255,0.88);
}
#content, .content, .wrapper{
    -webkit-transform: translate3d(0,63px,0);
    transform: translate3d(0,63px,0);
    background-color: #E6E7EB;
    overflow-y: auto;
}
.logo-name{
    width: 180px;
    height: 34px;
    margin: 20px auto 5px;
}

.input_effect {
    margin-bottom: 10px;
}
.input_effect label{
    -webkit-transform: translate3d(0,-25px,0);
    transform: translate3d(0,-25px,0);
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
}
.input_effect.focus label{
    -webkit-transform:  translate3d(0px,-50px,0) scale3d(0.68,0.68,1);
    transform:  translate3d(0px,-50px,0) scale3d(0.68,0.68,1);
}
.btn{ 
    width: 100%; 
    padding: 8px 12px; 
    border-radius: 3px; 
    border:none;
    background: transparent;
    font-size: 18px;
}
.btn_only1{
    display: block;
    width: 90%;
    margin: auto auto;
    background-color: #456CD8;
    color: white;
}
.btn_only1:hover{
    color:white;
}
.btn_only1:active{
    background-color: #456CD8;
    color:white;
}
.btn-modal,.btn-modal:hover{
    color: #0000CD;
    
    font-size: 18px;
}
.btn-modal:active{
    outline: 0 none;
    box-shadow: none !important;
    background: #ececec;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.close,.close.back {
    position: absolute;
    right: 2px;
    top: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    color: #0000CD;

    font-size: 14px;
}
.close.back{
    right: inherit;
    left: 2px;
}
.checkbox_wrapper{
    position: relative;
    height: 44px;
    line-height: 44px;
    width: 100%;
    margin: auto;
    padding: 0 5%;
}
.checkbox_wrapper label{
    width: 100%;
}
.text-checkbox{
    display: inline-block;
    z-index: 10;
    width: initial;
    left: 0;
}
.input-checkbox{
    display: inline-block;
    position: absolute;
    z-index: 20;
    right: 40px;
    top: 5px;
    width: 54px;
    height: 34px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.checked .input-checkbox{    
    background: #4BD863;
}
.switch{
    position: absolute;
    z-index: 30;
    display: block;
    right: 43px;
    top: 7px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: #fff;
    -webkit-transform: translate3D(-20px,0,0);
    transform: translate3D(-20px,0,0);
    box-shadow: 0 3px 5px rgba(0,0,0,0.35);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.checked .switch{
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
    box-shadow: 0 2px 3px rgba(0,0,0,0.35);

}
.small_item .input-checkbox{
    top: 8px;
    width: 44px;
    height: 24px;
    border-radius: 20px;
}
.small_item .switch{
    top: 10px;
    width: 19px;
    height: 19px;
}
/*only for Hide/Show Reports*/
.hideShowOpt{
    position: relative;
    height: 58px;
    width: 100%;
}
input[type="checkbox"]{
    display: block;
    position: absolute;    
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
}
input[type="checkbox"]+ label {
    position: absolute;
    z-index: 0;
    top: 14px;
    left: 6%;
    padding: 0px;
    line-height: 17px;
    font-size: 17px;
    /*height: 0;*/
}
input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    display: block;
    right: -5px;
    top: -2px;
    width: 54px;
    height: 34px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    display: block;
    right: -2px;
    top: 0px;
    width: 29px;
    height: 29px;
    border-radius: 16px;
    background: #fff;
    -webkit-transform: translate3D(-20px,0,0);
    transform: translate3D(-20px,0,0);
    box-shadow: 0 3px 5px rgba(0,0,0,0.35);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"] + label:active:after {
    box-shadow: 0 2px 3px rgba(0,0,0,0.35);
}
input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
    box-shadow: 0 2px 3px rgba(0,0,0,0.35);
}
input[type="checkbox"]:checked + label:before {
    background: #4BD863;
}

.input-radio + label {
    height: 44px;
    line-height: 55px;
}
.input-radio {
    display: inline-block;
    position: absolute;
    z-index: 20;
    left: 20px;
    bottom: 0;
    top: 10px;
    margin: auto;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid rgb(21, 125, 251);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
/*Menu */
.menu {
    width: 100%;
    font-size: 0;
    overflow-y: auto;
    padding-top: 11px;
    background-image: url('../img/Bottom-Waves-1024.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.show_options{
    padding-right: 34px;
    background-image: url(../img/iconOptions.svg) !important;
    background-position: center 8px !important;
    background-size: 28px 28px !important;
    background-repeat: no-repeat !important;
}
.add_server{
    padding-right: 34px;
    background-image: url(../img/iconServer.svg) !important;
    background-position: center 8px !important;
    background-size: 28px 28px !important;
    background-repeat: no-repeat !important;
}
 /*hide reports button*/
.hide_reports{
    padding-right: 34px;
    background-image: url(../img/iconHideReports.svg) !important;
    background-position: center 8px !important;
    background-size: 28px 28px !important;
    background-repeat: no-repeat !important;
}

.list{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('../img/Bottom-Waves-1024.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}
/*.menu button:nth-child(2n){
    background-color: rgba(241, 241, 241, 0.92);
}*/
.list .item,.menu .item{
    width: 100%;
    height: 100px;
    margin-bottom: 11px;
    /*background-color: rgba(253, 253, 253, 0.92);*/
    border-top: 1px solid rgb(200, 199, 204);
    background-image: url(../img/nextBtnSilver.svg);
    background-position: right center;
    background-size: 24px 44px;
    background-repeat: no-repeat;  
}
.highlight_one{
    background-color: rgba(253, 253, 253, 0.92);
}
.highlight_two{
    background-color: rgba(241, 241, 241, 0.92); 
}
.list .item:last-of-type,.menu .item:last-of-type{
    border-bottom: 1px solid rgb(200, 199, 204);
}

.list_store{
    position: relative;
    width: 100%;
    height: 220px;
    overflow-y: scroll;    
}
.list_store h1{ 
    padding: 10px 6%;
    text-align: center;
}
.section span{
    font-size: 14px;
    display: block;
    padding: 0px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(88,88,88);
}
.section_content{
    border-bottom: 1px solid rgb(200, 199, 204);
    border-top: 1px solid rgb(200, 199, 204);
    background-color: rgba(254, 254, 254, 0.9);
}
.innerLi>span{
    display: inline-block;
    padding: 0px ; 
    margin-top: 0px; 
    margin-bottom: 10px;
    font-size: 14pt;
    font-weight: bold;
    color: #000;
}
.item.innerLi>div,
.item>.date{
    float: right;
    height: 44px;
    font-size: 14px;
    padding-right: 4%;
    line-height: 3.3em;
    color: rgb(88,88,88);
}
.item>.date{
    padding-right: 0;
}
/* para el floatWindow */
.mostrar{
    -webkit-animation-name: floatWindowShow; 
    -webkit-animation-duration: .40s;
    animation-name: floatWindowShow;
    animation-duration: .40s;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
     -webkit-animation-timing-function: cubic-bezier(.20, .50, .90, 1); 
    animation-timing-function: cubic-bezier(.20, .50, .90, 1);
}

@-webkit-keyframes floatWindowShow {
    0% {
        -webkit-transform: translate3d(110%,0,0) rotateY(90deg);
    }
    5% {
        -webkit-transform: translate3d(110%,0,0) rotateY(0deg);
    }
    100%{
        -webkit-transform: translate3d(0%,0,0) ; 
    }
}

@keyframes floatWindowShow {
    0% {
        transform: translate3d(110%,0,0) rotateY(90deg);
    }
    5% {
        transform: translate3d(110%,0,0) rotateY(0deg);
    }
    100%{
        transform: translate3d(0%,0,0); 
    }
}
.ocultar{
    -webkit-animation-name: floatWindowHide; 
    -webkit-animation-duration: .35s;
    animation-name: floatWindowHide;
    animation-duration: .35s;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
    -webkit-animation-timing-function: cubic-bezier(.60, .80, .50, .60); 
    animation-timing-function: cubic-bezier(.60, .80, .50, .60);
}
@-webkit-keyframes floatWindowHide {
    0% {
        -webkit-transform: translate3d(0%,0,0) rotateY(0deg);
    }
    95% {
        -webkit-transform: translate3d(110%,0,0) rotateY(0deg);
    }
    100%{
        -webkit-transform: translate3d(100%,0,0) rotateY(90deg);
    }
}

@keyframes floatWindowHide {
    0% {
        transform: translate3d(0%,0,0) rotateY(0deg);
    }
    95% {
        transform: translate3d(110%,0,0) rotateY(0deg);
    }
    100%{
        transform: translate3d(100%,0,0) rotateY(90deg);
    }
}
/* para el io8 window */
/*.mostrar_adelante{
    transform: translate3D(0%,0,0);
    -webkit-transform: translate3D(0%,0,0);
    transition: all .36s cubic-bezier(.20, .50, .90, 1);
    -webkit-transition: all .36s cubic-bezier(.20, .50, .90, 1);
}*/
.mostrar_adelante{
    -webkit-animation-name: WindowShow; 
    -webkit-animation-duration: .35s;
    animation-name: WindowShow;
    animation-duration: .35s;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
    -webkit-animation-timing-function: cubic-bezier(.60, .80, .50, .60); 
    animation-timing-function: cubic-bezier(.60, .80, .50, .60);
}
@-webkit-keyframes WindowShow {
    0% {
        -webkit-transform: translate3d(-10%,0,0) ;
    }
    100% {
        -webkit-transform: translate3d(0%,0,0) ;
    }
}

@keyframes WindowShow {
    0% {
        transform: translate3d(-10%,0,0);
    }
    100%{
        transform: translate3d(0%,0,0);
    }
}
/*.ocultar_atras{
    transform: translate3D(-10%,0,0);
    -webkit-transform: translate3D(-10%,0,0);
    transition: all .36s cubic-bezier(.20, .50, .90, 1);
    -webkit-transition: all .36s cubic-bezier(.20, .50, .90, 1);
    opacity: 0.8;
}*/
.ocultar_atras{
    -webkit-animation-name: WindowHide; 
    -webkit-animation-duration: .35s;
    animation-name: WindowHide;
    animation-duration: .35s;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
    -webkit-animation-timing-function: cubic-bezier(.60, .80, .50, .60); 
    animation-timing-function: cubic-bezier(.60, .80, .50, .60);
    opacity: 0.8;
}
@-webkit-keyframes WindowHide {
    0% {
        -webkit-transform: translate3d(0%,0,0)  rotateY(0deg);
    }
    95% {
        -webkit-transform: translate3d(-10%,0,0)  rotateY(0deg);
    }
    100%{
        -webkit-transform: translate3d(0%,0,0) scale(0,0);
    }
}

@keyframes WindowHide {
    0% {
        transform: translate3d(0%,0,0) rotateY(0deg);
    }
    95% {
        transform: translate3d(-10%,0,0) rotateY(0deg);
    }
    100%{
        transform: translate3d(0%,0,0) scale(0,0);
    }
}

.selected+hr{
    opacity: 0;
}

    
.input_effect {
    margin-bottom: 10px;
}
.input_effect label{
    -webkit-transform: translate3d(0,-25px,0);
    transform: translate3d(0,-25px,0);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
}
.input_effect.focus label{
    -webkit-transform:  translate3d(0px,-50px,0) scale3d(0.68,0.68,1);
    transform:  translate3d(0px,-50px,0) scale3d(0.68,0.68,1);
}



#ui-datepicker-div { display: block !important; }

.infoReport1{display: block; width: 100%; margin-bottom: 11px;}
.infoReport1 i,
.infoReport1 span{
    width: 25%;
    font-style: normal;
    font-size: 14px;
    display: inline-block;
}
.infoReport1 i{width: 15%; color: #0000CD;}
.infoReport1 span{
    width: 28%;
    vertical-align: -webkit-baseline-middle;
}


#divlistado {
    height: 144px;
    padding: 0;
    overflow-y: auto;
}
.divlistadoReports{
    height: 220px;
    padding: 0;
    overflow-y: auto;
}
.collection-item {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 33px;
    height: 33px;
    font-size: 16px;
    border-bottom: 1px solid #CCCCCC;
}
.collection-item span{
    width: 100%;
    display: block;
    font-weight: bold;
}
button.delete{
    position: absolute;
    left: 0;
    top: 0;
    height: 28px;
    width: 24px;
    background-image: url(../img/iconDelete.svg);
    background-color: transparent;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center center;
}
.danger, .danger:hover, .danger:active{color: #EF4036;}
.nostrong, .nostrong:hover, .nostrong:active{font-weight: normal;}
.modal{
    overflow-y:hidden;
}
.modal-header{
    padding: 9pt;
    font-weight: bold;
}
.modal.fade .modal-dialog {
     -webkit-transform: translate(0,-2%) scale3d(1.35,1.35,1); 
    -ms-transform: translate(0,-2%) scale3d(1.35,1.35,1);
    transform: translate(0,-2%) scale3d(1.35,1.35,1);
    -webkit-transition: transform .2s cubic-bezier(0, .50, .80, 1);
    -moz-transition: transform .2s cubic-bezier(0, .50, .80, 1);
    -o-transition: transform .2s cubic-bezier(0, .50, .80, 1);
    transition: transform .2s cubic-bezier(0, .50, .80, 1);
}
.modal.fade.in .modal-dialog {
     -webkit-transform: translate(0,0%) scale3d(1,1,1);
    -ms-transform: translate(0,0%) scale3d(1,1,1);
    transform: translate(0,0%) scale3d(1,1,1);
}
.modal-dialog{
    width: 300px;
}
.modal-content {
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.32);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.32);
    border: none;
    background: rgba(236,236,236,1);
    background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,236,236,1)), color-stop(100%, rgba(244,247,249,1)));
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    background: -o-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    background: linear-gradient(to bottom, rgba(236,236,236,1) 0%, rgba(244,247,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#f4f7f9', GradientType=0 );
}
.modal-footer {
    padding: 0px;
    margin-top: 0;
}
.modal-footer .btn+.btn{
    margin: 0;
}
.modal-backdrop.in {
    opacity: .35;
    filter: alpha(opacity=5k);
}
.twoCols div{
    display: inline-block;
}
.info {
    line-height: 32px;
}
.chkTax label{
    text-align: center;
}

.title-alert{    
    font-size: 22px;
    padding-bottom: 10px;
}
.btn-modal.left {
    width: 50%;
    float: left;
    border-right: 1px solid #ddd;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.btn-modal.right {
    width: 50%;
    float: right;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0px !important;
}

.modal-title{
    font-weight: bold;
    text-align: center;
}
 .list_store h1:nth-child(2n){
    background-color: #e6e6e9;
}

.list_store1{
    padding: 13pt;
    text-align: center;
    line-height: 22pt;
}

.active{
    background-color: rgb(21, 125, 251) !important;
    color: white;
}

.transparent{
    background: transparent;
}
.transparent .options_bar_space{
    border-bottom: 0;
}

.section_content > div{
    opacity: 0;
    -webkit-animation: fadeLeftToRight .4s forwards;
        animation: fadeLeftToRight .4s forwards;
    -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
}

#css-filter-blur:hover {
  filter: progid:DXImageTransform.Microsoft.Blur(Strength=2);
  position: relative;
  left: -2px;
  top: -2px;
}

.modal-rotate .modal-dialog{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 185px;
    margin: auto !important;
}
.bg-rotate{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1040;    
    background-color: rgba(0,0,0,.3);    
}

.dropdown-toggle .lblFilter{
    font-size: 13pt;
    font-weight: bold;
    color: #000;
    line-height: 40px;
    padding: 0 20px;
}

.dropdown-menu>li>a{
    font-weight: bold;
}

.filterGoal{
    position: absolute;
    right: 20px;
    top: 0;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 4%;
    line-height: 3.3em;
    color: rgb(88,88,88);
}
.filterCaret {
    position: absolute;
    right: 10px;
    top: 20px;
    border-top-color: #bbb;
}
.open>.dropdown-menu {
    display: block;
    right: 0;
    left: inherit;
}
.opt.active{
    color: white;
}
.innerLi {
    background-image: url(../img/listArrow.svg);
    background-size: 22px 15px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 6%;
    font-weight: bold;
    font-size: 14pt;
}

@media only screen and (min-width : 320px) and (max-width : 568px) { 
    .list_store{
        height: 180px;
    }
}

@media (-webkit-max-device-pixel-ratio: 1) {
    li, input, textarea {
        background-image: none;
        border-bottom: 1px solid rgb(142, 142, 146);
        border: 0;
    }
}
@media (max-device-pixel-ratio: 1) {
    li, input, textarea {
        background-image: none;
        border-bottom: 1px solid rgb(142, 142, 146);
        border: 0;
    }
}

.list_store .loader-ios{
	text-align: center;
	margin-top: 112px;
}

.loader-ios {
  -webkit-animation: iosIntro .6s;
          animation: iosIntro .6s;
}
.loader-ios svg {
  fill: #e6e6e6;
}
.loader-ios svg path:nth-of-type(1) {
  -webkit-animation: pulse 1s infinite linear;
          animation: pulse 1s infinite linear;
}
.loader-ios svg path:nth-of-type(2) {
  -webkit-animation: pulse 1s -.083s infinite linear;
          animation: pulse 1s -.083s infinite linear;
}
.loader-ios svg path:nth-of-type(3) {
  -webkit-animation: pulse 1s -.166s infinite linear;
          animation: pulse 1s -.166s infinite linear;
}
.loader-ios svg path:nth-of-type(4) {
  -webkit-animation: pulse 1s -.249s infinite linear;
          animation: pulse 1s -.249s infinite linear;
}
.loader-ios svg path:nth-of-type(5) {
  -webkit-animation: pulse 1s -.332s infinite linear;
          animation: pulse 1s -.332s infinite linear;
}
.loader-ios svg path:nth-of-type(6) {
  -webkit-animation: pulse 1s -.415s infinite linear;
          animation: pulse 1s -.415s infinite linear;
}
.loader-ios svg path:nth-of-type(7) {
  -webkit-animation: pulse 1s -.498s infinite linear;
          animation: pulse 1s -.498s infinite linear;
}
.loader-ios svg path:nth-of-type(8) {
  -webkit-animation: pulse 1s -.581s infinite linear;
          animation: pulse 1s -.581s infinite linear;
}
.loader-ios svg path:nth-of-type(9) {
  -webkit-animation: pulse 1s -.664s infinite linear;
          animation: pulse 1s -.664s infinite linear;
}
.loader-ios svg path:nth-of-type(10) {
  -webkit-animation: pulse 1s -.747s infinite linear;
          animation: pulse 1s -.747s infinite linear;
}
.loader-ios svg path:nth-of-type(11) {
  -webkit-animation: pulse 1s -.83s infinite linear;
          animation: pulse 1s -.83s infinite linear;
}
.loader-ios svg path:nth-of-type(12) {
  -webkit-animation: pulse 1s -.913s infinite linear;
          animation: pulse 1s -.913s infinite linear;
}

@-webkit-keyframes pulse {
  50% {
    fill: #c6c6c6;
  }
  to {
    fill: rgba(134, 134, 134, 0.4);
  }
}

@keyframes pulse {
  50% {
    fill: #c6c6c6;
  }
  to {
    fill: rgba(134, 134, 134, 0.4);
  }
}
@-webkit-keyframes iosIntro {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes iosIntro {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


.zIndex1{    z-index: 1050 !important;     }
.zIndex2{    z-index: 1060 !important;     }
.zIndex3{    z-index: 1070 !important;     }
.zIndex4{    z-index: 1080 !important;     }
.modal-backdrop.in{
    z-index: 1029 !important;
}


/*White space*/
.options_bar_space div, .options_bar_space button, .options_bar_space div span,
.item .box .item_title,.menu .box, .item, .item div,
.store,
.store p,.store i, .store span,
.actual i, .global i ,
.item .box .item_subtitle, .menu .box .item_subtitle,
.landLblLeft,
.landLblRight,
.select-general div,
table th, table td{
    white-space: nowrap;
}



/*animation*/
@-webkit-keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3D(-10px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3D(0px,0,0);
  }
}
@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translate3D(-10px,0,0);
  }
  100% {
    opacity: 1;
    transform: translate3D(0px,0,0);
  }
}


@-webkit-keyframes fadeRightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3D(10px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3D(0px,0,0);
  }
}

@keyframes fadeRightToLeft {
  0% {
    opacity: 0;
    transform: translate3D(10px,0,0);
  }
  100% {
    opacity: 1;
    transform: translate3D(0px,0,0);
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.95,.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1,1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.95,.95);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

text{
    font-family: 'Helvetica Neue';
}
.modal-rotate{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.textRotateScreen{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
.iconRotate{
    height: 60px;
    padding: 5pt 2pt 5pt;
    margin: 10px 0;
}

.iconRotate img{
    height: 44px;
    text-align: center;
    display: block;
    margin: auto;
    -webkit-animation-name: rotationIcon; 
    -webkit-animation-duration: 1.8s;
    animation-name: rotationIcon;
    animation-duration: 1.8s;
    -webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
    animation-delay: 0.8s;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-fill-mode: backwards; /* Chrome, Safari, Opera */
    animation-fill-mode: backwards;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out;
}


@-webkit-keyframes rotationIcon {
    0% {
        -webkit-transform:  rotateZ(0deg);
    }
    10% {
        -webkit-transform:  rotateZ(0deg);
    }
    50%{
        -webkit-transform:  rotateZ(90deg);
    }
    70%{
        -webkit-transform:  rotateZ(90deg);
    }
    100%{
        -webkit-transform:  rotateZ(0deg);
    }
}

@keyframes rotationIcon {
    0% {
        transform:  rotateZ(0deg);
    }
    10% {
        transform:  rotateZ(0deg);
    }
    50%{
        transform:  rotateZ(90deg);
    }
    60%{
        transform:  rotateZ(90deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}



/* iPad in portrait & landscape */
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    #txt_login, #txt_maintitle, #txt_title, #top_txt_title, #txt_Options{
        width: 255px;
    }    
    .hybrid_bg{
        background-image: url('../img/background_1024.jpg') !important;    
    }
    .btn {
        padding: 10px 12px;
    }
    input[type="text"], input[type="password"], input[type="number"], textarea {
      padding: 8px 0;
    }
    .list .item{
        height: 120px;
        background-size: 28px;
    }    
    .add_server {
        padding-right: 44px;
        background-size: 34px !important;
    }
    .hide_reports {
        padding-right: 44px;
        background-size: 34px !important;
    }
    .content{
        background-size: cover;
    }
    .list .item{
        background-color: rgb(253, 253, 253);
    }    
    .store{
        padding: 8pt 8%;
        line-height: 1.8em;
    }
    .store h1 {
        height: 40px;
        font-size: 18pt;
    }   
    .year, .quantity,div[class^="detalle-"] i, div[class^="detalle-"] span{
        font-size: 16px;
    }
    input[type="checkbox"]+ label{
        font-size: 15pt;
    }
    .item,.innerLi>span{
        font-size: 18pt;
    }
    .item.innerLi>div, .item>.date,
    .filterGoal,
    .dropdown-menu>li>a{
        font-size: 14pt;
        line-height: 2.3em;
    }
    #txt_maintitle, #txt_title, #top_txt_title, #txt_title2, #txt_Options,
    header button,.btn-modal, .btn-modal:hover{
        font-size: 16pt;
    }

    .modal-dialog{
        width: 525px;
    }
    .infoReport1 i, .infoReport1 span,
    .modal-title{
        font-size: 15pt;
    }
    .infoReport1 span{
        width: 38%;
        vertical-align: inherit; 
    }
    .infoReport1 i{
        width: 11%;
    }
    .infoReport1 {
        margin-bottom: 14pt;
    }
    
    .list_store h1 {
        padding: 12pt 6%;
        font-size: 15pt;
    }
    .modal-header {
        font-size: 14pt;
    }
    .list_store{        
        height: 280px;    
    }
    .ui-datepicker-month{
        font-size: 16pt;
    }
    .ui-datepicker-calendar tbody tr td {
        text-align: center;
        height: 53px;
        width: 30px;
        line-height: 53px;
        font-size: 15pt;
    }
    span.ui-icon.ui-icon-circle-triangle-e,
    span.ui-icon.ui-icon-circle-triangle-w{
        font-size: 16pt;
    }
    .collection-item{
        height: 54px;
        line-height: 54px;
    }
    button.delete {
        height: 54px;
        width: 54px;
        background-size: 32px;
    }
    .collection-item span,
    #txtStore{
        font-size: 16pt;
    }
    #divlistado{
        height: 240px;
    }
    label,#ip_1, #ip_2, #ip_3, #ip_4{
        font-size: 16pt;
    }
    
    .img_logotitle {
        background-position: 2px 4px !important;
        background-size: 36px !important;
    }
    .close,.close.back {
        font-size: 16px;
    }     
}

/*iPhone 6 in portrait & landscape*/
@media only screen and (min-width : 375px) and (max-width : 767px) { 
    .item .box .item_title,.menu .box{
        font-size: 15pt;
    }
    .store {
        padding: 5pt 5%;
        line-height: 0.7em;
    }
    .menu{
        background-image: url('../img/Bottom-Waves-667.png');
    }
    .hybrid_bg{
        background-image: url('../img/background_667.jpg') !important;    
    }
    
    .innerLi {
        font-size: 12pt;
    }
    .innerLi>span{
        font-size: 12pt;
    }
    div[class^="detalle-"] i, div[class^="detalle-"] span{
        height: 22px;
    }
    .store h1.storeNameR1 {
        width: 68%;
    }    
    .close,.close.back {
        font-size: 14px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 374px) { 
    .hybrid_bg{
        background-image: url('../img/background_568.jpg') !important;    
    }
    .list .item{
        height: 90px;
    }
    .store {
        padding: 4pt 4%;
        line-height: 0.6em;
    }
    header button {
        font-size: 12pt;
        max-width: 82px;
        min-width: 38px;
        padding-left: 2px;
    }
    #btn_right.side {
        right: 38px;
    }
    .innerLi,.innerLi>span,.item,#txt_login, #txt_maintitle, #txt_title, #top_txt_title, #txt_Options,
    #txt_maintitle .isotipo,
    .store h1{
        font-size: 13pt;
    }
    #txt_login, #txt_maintitle, #txt_title, #top_txt_title, #txt_Options{
        width: 170px;
    }
    .store h1 {
        height: 26px;
    }
    #divlistado{
        height: 112px;
    }

    .modal h1{
        font-size: 12pt;
    }
    .btn-modal, .btn-modal:hover{
        font-size: 13pt;
    }
    .modal-body {
        padding: 10px;
    }
    span.ui-icon.ui-icon-circle-triangle-w,
    span.ui-icon.ui-icon-circle-triangle-e {
        font-size: 12pt;
    }
     
    input + label.text-report
    {
        font-size: 12pt;
        line-height: 16px;
        padding-right: 60px;
    }
    .close,.close.back {
        font-size: 12px;
    }
}

/* Landscape */
@media only screen and (min-width: 320px) and (max-width: 667px) and (orientation: landscape) {
    .landBtnLeft{
        float: left;
        width: 50%;
    }
    .landBtnRight{
        float: right;
        width: 50%;
    }
    .landLblLeft{
        float: left;
        width: 50%;
        padding: 0 3pt;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .landLblRight{
        float: right;
        width: 50%;
        padding: 0 3pt;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}

.radio_wrapper input, .radio_wrapper label{
    padding-left: 22px;
    text-align: left;
}
.radio_wrapper input{
    margin-bottom: -9px;
}
.radio_wrapper{
    position: relative;
    height: 44px;
    line-height: 34px;
    width: 100%;
    margin: auto;
    padding: 0 5%;
}
.radio_wrapper.checked span{
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-color: rgb(21, 125, 251);
}