.clasification p,
.clasification i,
.clasification span{
    display: inline-block;
}
.clasification i{
    width: 29%;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: #666666;
}
.clasification p{
    width: 44%;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}
.clasification span{
    width: 27%;
    padding: 0;
    text-align: right;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.store + hr{
    height: 1px;
}



.veryCritical{
    color: #B71C1C;
}
.veryCritical span{
    color: white;
    background-color: #B71C1C;
}
.critical{
    color: #E53935;
}
.critical span{
    color: white;
    background-color: #E53935;
}
.deficient{
    color: #FF8A65;
}
.deficient span{
    color: white;
    background-color: #FF8A65;
}
.acceptable{
    color: #42A5F5;
}
.acceptable span{
    color: white;
    background-color: #42A5F5;
}
.good{
    color: #FFB74D;
}
.good span{
    color: white;
    background-color: #FFB74D;
}
.veryGood{
    color: #66BB6A;
}
.veryGood span{
    color: white;
    background-color: #66BB6A;
}

#modalgeneral{
    z-index: 10000;
}
.clasification span{
    border-radius: 2px;
    text-align: center;
}

/* modal */
.clasificationRow{
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 44px;
}
.clasificationRow .clasName{
    flex-grow: 6;
}
.clasificationRow .rangeMax{
    flex-grow: 2;
    text-align: right;
}
.clasificationRow .rangeMin {
    flex-grow: 2;
    text-align: right;
}

.clasificationRow .clasName{
    font-weight: bold;
}
.clasificationRow .rangeMax,
.clasificationRow .rangeMin {
    font-size: 15px;
}
.clasificationRow .rangeMax input,
.clasificationRow .rangeMin input{
    width: 38px;
    text-align: right;
}

.ui-datepicker-header,
td.ui-datepicker-current-day a,
td.ui-datepicker-current-day a:active,
td.ui-datepicker-current-day a:hover{
    background-color: #B71C1C !important;
}


/*small devices*/
@media all and (min-width: 320px){
  .clasificationRow{
    height: 34px;
  }
}
/* Galaxy S5*/
@media all and (min-width: 360px){

}
/*medium devices*/
@media all and (min-width: 600px){
  .clasificationRow{
    height: 44px;
  }
}
/*Samsung tab 8*/
@media all and (min-width: 768px){
  div[class^="select-"] .item {
    height: 55px;
    line-height: 55px;
    font-size: 22px;
  }
  .store h1{
    font-size: 24px;
  }
  .clasification p,
  .clasification i,
  .clasification span{
    font-size: 22px;
  }
  .clasificationRow{
    height: 54px;
  }
}

/*Nexus 10*/
@media all and (min-width: 800px){

}

@media all and (min-width: 480px) and (orientation: landscape){
  .clasificationRow{
    height: 34px;
  }
}