#select-region hr{
	margin: 0;
	opacity: 0;
}
#contentReport3 {
  margin-bottom: 35px;
}
.progressByStore i, .progressByStore p, .progressByStore span{
	display: inline-block;
}
.progressByStore i{
	width: 9%;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: #666666;
}
.progressByStore i.T{
  width: 7%;
}
.progressByStore p{
	width: 21%;
  font-size: 16px;
  text-align: left;
}
p.clasification:first-of-type{
  font-weight: bold;
  width: 36%;
}
.progressByStore span{
	width: 18%;
  padding: 0;
  text-align: right;
  font-size: 16px;
}

#lbldateStart ,#lbldateEnd,#lbldateToCompare{
  display: inline-block;
}
#lblTotalAll{
	text-align: left;
  color: white;
}
#totalpromedio{
  color: #fff;
  font-weight: bold;
}
.colorAcumulateSale{
	height: 15px;
	background-color: #42A5F5;
}
#PercentGoal,#totalGoalPercentage{
	color: #fff;
  background-color: #0073FF;
  border-radius: 2px;
  padding: 5px 4pt;
  text-align: center;
}
.colorAcumulateGoal{
	height: 15px;
	background-color: #4C9850;
}
#PercentSale,#totalSalePercentage{
	color: #fff;
  background-color: #4C9850;
  border-radius: 2px;
  padding: 5px 4pt;
  text-align: center;
}
.infoReport3 {
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
}
.infoReport3 span{
	width: 88%;
  padding-left: 4pt;
  text-align: justify;
  display: inline-block;

}
.infoReport3 i{
	width: 12%;
	font-style: normal;
	font-size: 16px;
	border-radius: 2px;
	display: inline-block;
	color: #666666;
}

.heightSection{
  overflow: auto;
}


.leyend {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #222;
  border: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 100;
}

.leyend button {
  font-size: 18px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #fafafa;
}

.leyend .navBtn1{ width: 45%; white-space: nowrap; text-align: left;}
.leyend .navBtn2{ width: 26%;}
.leyend .navBtn3{ width: 26%; text-align: right;}



.ui-datepicker-header,
td.ui-datepicker-current-day a,
td.ui-datepicker-current-day a:active,
td.ui-datepicker-current-day a:hover{
  background-color: #673ab7 !important;
}


/*Samsung tab 8*/
@media all and (min-width: 768px){
  div[class^="select-"] .item {
    height: 55px;
    line-height: 55px;
    font-size: 22px;
  }
  .store h1{
    font-size: 24px;
  }
  .progressByStore i, p.clasification,
  #PercentSale, #totalSalePercentage,
  #lblTotalAll,#totalpromedio,
  #PercentGoal, #totalGoalPercentage{
    font-size: 22px;
  }
  #totalGoalPercentage,#totalSalePercentage{
    padding: 5px 20pt;
  }
}

/*Nexus 10*/
@media all and (min-width: 800px){

}